<!DOCTYPE html>
<%TEA_PIC = "http://f.tqn.com/y/britishfood/1/0/f/0/-/-/tealeaves.jpg?text=IMAGE"%>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */
    .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
 <div ng-app="myApp" ng-controller="teasCtrl" style="margin-top: 20px;" >

  <div class="container">

    <div ng-show="showAllTeas">
    <div class="row">
      <div ng-repeat="tea in teas" ng-click=setSelectedTea(tea)>
        
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">{{tea.name}}</div>
              <div class="panel-body"><img src={{tea.image}} class="img-responsive" width="500" height="300" alt="Image"></div>
              <div class="panel-footer">Price: {{tea.price}}</div>
              <div class="panel-footer">Category: {{tea.category}}</div>
              <div class="panel-footer">Description: {{tea.description}}</div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script src="/js/main.js"></script>
</body>
</html>
</div>
