<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

  <!--   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */
    .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


 <div ng-app="myApp" ng-controller="teasCtrl" style="margin-top: 20px;" >

<!--   <script type="text/ng-template" id="filters.html">

  <div class="btn-group">
   <p>
    <button ng-click=showBlack() class="btn btn-primary">Black teas</button>
  </p>

  <p>
    <button ng-click=showGreen() class="btn btn-primary">Green teas</button>
  </p>
  
  <p>
    <button ng-click=showRed() class="btn btn-primary">Red teas</button>
  </p>
  </div>

  <a href="#/red"> Filtered Teas </a>
</script>
-->
<div class="container">
  <div ng-view>

  </div>



</div> <!-- container div -->

<script type="text/ng-template" id="tea_store.html">
  <div ng-show="showAllTeas">

    <div class="row">
      <div class="btn-group">
       <p>

        <button ng-click=showExpensive() class="btn btn-primary">All teas</button>
        <button ng-click=showBlack() class="btn btn-primary">Black teas</button>
        <button ng-click=showGreen() class="btn btn-primary">Green teas</button>
        <a href="#/red"><button class="btn btn-primary">Red teas</button>
      </p>
    </div>

    <div ng-repeat="tea in teas" ng-click=setSelectedTea(tea)>

      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">{{tea.name}}</div>
          <div class="panel-body"><img src={{tea.image}} class="img-responsive" width="500" height="300" alt="Image"></div>
          <div class="panel-footer">Price: {{tea.price}}</div>
          <div class="panel-footer">Category: {{tea.category}}</div>
          <div class="panel-footer">Description: {{tea.description}}</div>

        </div>
      </div>
    </div>
  </div>
</div> <!-- ng show  -->
</script>

<script type="text/ng-template" id="one_tea.html">
  <div ng-show="showOneTea" class="col-md-4 col-md-offset-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">{{selectedTea.name}}</div>
          <div class="panel-body"><img src={{selectedTea.name}} class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Price: {{selectedTea.price}}</div>
          <div class="panel-footer">Category: {{selectedTea.category}}</div>
          <div class="panel-footer">Description: {{selectedTea.description}}</div>

        </div>
      </div>
    </div>
  </div> <!-- showOneTea -->
</script>

<%= erb :bottom_js_scripts %>   
<script src="/js/main.js"></script>

</body>
</html>
</div>
`