 <p>
  <button ng-click=showBlack() class="btn btn-primary">Black teas</button>
  </p>

  <p>
  <button ng-click=showGreen() class="btn btn-primary">Green teas</button>
  </p>
  
  <p>
  <button ng-click=showRed() class="btn btn-primary">Red teas</button>
  </p>
  