<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

  <div ng-app="myApp" ng-controller="teasCtrl" class="col-md-4 col-md-offset-4" style="margin-top: 20px;" >
    <h1>Tea store</h1>
    <div ng-show="showAllTeas">
      <div ng-repeat="tea in teas" ng-click=setSelectedTea(tea)>
        <div>{{tea.name}}</div>
        <div>{{tea.price}}</div>
        <div>{{tea.category}}</div>
        <div>{{tea.description}}</div>
      </div>
<!-- 
    <div ng-show="showEditBook">
      <h2>Edit book</h2>
      <form role="form" ng-submit="editBook(selectedBook)">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" ng-model="selectedBook.fields.title"  />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" ng-model="selectedBook.fields.description"> </textarea>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <div ng-show="showAddBook">
      <h2>Add new book</h2>
      <form role="form" ng-submit="addBook()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" ng-model="newTitle" placeholder="add book title" / required>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea  class="form-control" ng-model="newDesc" placeholder="add book description" required> </textarea>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <div ng-show="showSingleBook" style="word-wrap: break-word;">
      <strong>Book id: </strong>{{selectedBook.pk}} <br> 
      <strong>Book author: </strong>{{selectedBook.fields.author_first_name}} {{selectedBook.fields.author_last_name}} <br> 
      <strong>Book title: </strong>{{selectedBook.fields.title}}<br> 
      <strong>Book description: </strong>{{selectedBook.fields.description}}<br> 
      <div> 
        <p>
          <button ng-click=removeBook(selectedBook) class="btn btn-primary">Delete</button>
        </p>

        <p>
          <button ng-click=showEdit() class="btn btn-primary">Edit</button>
        </p>


        <p>
          <button ng-click=showTable() class="btn btn-primary">All books</button>
        </p>

      </div>
        -->
    </div>



</div>

<script src="/js/main.js"></script>
