    <div ng-show="showOneTea" class="col-md-4 col-md-offset-4">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">{{selectedTea.name}}</div>
            <div class="panel-body"><img src=<%=TEA_PIC%> class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Price: {{selectedTea.price}}</div>
            <div class="panel-footer">Category: {{selectedTea.category}}</div>
            <div class="panel-footer">Description: {{selectedTea.description}}</div>

          </div>
        </div>
      </div>
    </div> <!-- showOneTea -->